
<div class="text" ng-if="sc.amazonData.length === 0">Log int to be able to save tracked items.</div>











<div class="searchGroup">

  <select ng-model="sc.amazonProperty.ProductGroup" placeholder="select product group" default="All">
    <option>All</option>
<option>Appliances</option>
<option>OfficeProducts</option>
<option>Apparel</option>
<option>Wine</option>
<option>Wireless</option>
<option>ArtsAndCrafts</option>
<option>Miscellaneous</option>
<option>Electronics</option>
<option>Jewelry</option>
<option>MobileApps</option>
<option>Photo</option>
<option>Shoes</option>
<option>KindleStore</option>
<option>Automotive</option>
<option>Vehicles</option>
<option>Pantry</option>
<option>MusicalInstruments</option>
<option>DigitalMusic</option>
<option>Music Instrumentals</option>
<option>GiftCards</option>
<option>FashionBaby</option>
<option>FashionGirls</option>
<option>FashionBoys</option>
<option>FashionMen</option>
<option>Industrial</option>
<option>Luggage</option>
<option>OutdoorLiving</option>
<option>Collectibles</option>
<option>Fashion</option>
<option>SportingGoods</option>
<option>Tools</option>
<option>Baby</option>
<option>LawnAndGarden</option>


<input class="form-control input-lg" ng-model="sc.amazonProperty.amazonSearch" placeholder="what to look for?">

<button ng-click="sc.addSearch()">Look in Amazon</button>

</div>
<div class="content_container">
<!-- <table>


</div>
  <tr>
    <th>Add Secret</th><th>Secret Level</th>
  </tr>
  <tr>


    <input ng-model="sc.newSecret.secretText" placeholder="enter new secret">
    <select ng-model="sc.newSecret.secrecyLevel" placeholder="enter secrecy level">
      <option >1</option>
      <option >2</option>
      <option >3</option>
      <option >4</option>
      <option >5</option>
      <option >6</option>
      <option >7</option>
      <option >8</option>
      <option >9</option>
      <option >10</option>

    </select>
    <button ng-click="sc.addSecret()">Add Secret</button>
  </tr>
</table> -->

<table class="table">
<!-- ng-if="sc.secretData.length > 0"  - from table tag -->
  <!-- <thead>
    <tr>
      <th>
      TITLE
      </th>
      <th>
        ASIN
      </th>

      <th>
        PRICE
    </th>
    <th>PHOTOS</th>
    </tr>
  </thead> -->
  <tbody class="square">
    <tr>
      <div >


      <td class="deal_top_inner jeremy-custom" ng-repeat="item in sc.amazonData.data">
        <div class="title">

      {{item.ItemAttributes["0"].Title["0"]}}
        </div>
      <!-- </td>

      <td> -->
      <br>
      <div class="asin">



        {{item.ASIN["0"]}}
        </div>
        <br>
        <!-- </td>
        <br>
        <td> -->
        <div class="price">



        {{item.ItemAttributes["0"].ListPrice["0"].FormattedPrice["0"]}}
        </div>

      <img ng-src='{{item.ImageSets["0"].ImageSet["1"].MediumImage["0"].URL["0"]}}' alt="">


    <div class="buttonHolder">


      <button class="btn addButton" type="button" ng-click="sc.saveItem(item)">add to watchlist</button>
      </div>
    </td>
    </div>
    </tr>
  </tbody>
</table>


</div>
