

<div class="container tracked-container">


<table class="table">
<th class="historyHeaders">Title</th>
<th class="historyHeaders">Price</th>
<th class="historyHeaders">Chart </th>

<tbody>
      <tr ng-repeat="stuff in tc.myDBStuff">
        <td class="trackTitle">
           {{stuff.ItemTitle}}
        </td>
        <td class="trackPrice ct-line.ct-threshold-above, ct-point.ct-threshold-above, ct-bar.ct-threshold-above">
          {{stuff.Price}}
        </td>
        <!-- <td class="trackAsin">

          {{stuff.Asin}}
        </td> -->



        <td>

          <button ng-click="tc.getAmazonChart(stuff)" class='btn btn-default animated wobble' type="button" name="button">

            <!-- see price history -->

              <a ng-href="#charts/{{stuff.Asin}}">Chart {{stuff.Asin}}</a>

          </button>


        </td>
      </tr>
    </tbody>
</table>
</div>
