<h1> MY TRACKED ITEMS </h1>

<div class="container">


<table class="table">
<th class="historyHeaders">Title</th>
<th class="historyHeaders">Price</th>
<th class="historyHeaders">Asin</th>

<tbody>
      <tr ng-repeat="stuff in tc.myDBStuff">
        <td class="trackTitle">
           {{stuff.ItemTitle}}
        </td>
        <td>
          {{stuff.Price}}
        </td>
        <td>

          {{stuff.Asin}}
        </td>



        <td>

          <button ng-click="tc.getAmazonChart(stuff)" class='btn btn-default' type="button" name="button">

            <!-- see price history -->

              <a ng-href="#charts/{{stuff.Asin}}">Click to view the chart! {{stuff.Asin}}</a>

          </button>


        </td>
      </tr>
    </tbody>
</table>
</div>
