<!--

<div class="container tracked-container">


<table class="table">
  <tr>
<th class="historyHeaders">Title</th>
<th class="historyHeaders">Price</th>
<th class="historyHeaders">Chart </th>
</tr>
<tbody>
      <tr class="trackedRow" ng-repeat="stuff in tc.myDBStuff">
        <td class="trackTitle">
           {{stuff.ItemTitle}}
        </td>
        <td class="trackPrice">
          <br>
          {{stuff.Price}}
        </td>
        < <td class="trackAsin">

          {{stuff.Asin}}
        </td>



        <td>

          <button ng-click="tc.getAmazonChart(stuff)" class='chart-btns animated wobble' type="button" name="button">

            < see price history

              <a ng-href="#charts/{{stuff.Asin}}">Chart {{stuff.Asin}}</a>

          </button>


        </td>
      </tr>
    </tbody>
</table>
</div> -->
<table class="table">
  <tr>
<th class="historyHeaders">Title</th>
<th class="historyHeaders">Price</th>
<th class="historyHeaders">Chart </th>
</tr>

<div class="promos" ng-repeat="stuff in tc.myDBStuff">
<div class="promo">
  <div class="deal">
    <span >{{stuff.Asin}}</span>
    <span>This is really a good deal!</span>
  </div>
  <span class="price">{{stuff.Price}}</span>
  <ul class="features">
    <li> {{stuff.ItemTitle}}</li>
    <!-- <li>Another super feature</li>
    <li>And more...</li> -->
  </ul>
    <button ng-click="tc.getAmazonChart(stuff)" class=' animated wobble' type="button" name="button">   

          <a ng-href="#charts/{{stuff.Asin}}">Chart {{stuff.Asin}}</a>

      </button>
</div>


</div>
